<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Datos de la Tabla</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Datos de la Tabla</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.carId}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${car.carId})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/delete/{id}(id=${car.carId})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
